# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Node.js
node_modules/
dist/

# .NET
*.dll
*.pdb
*.exe

# OS
.DS_Store
Thumbs.db

# Environment
.env
appsettings.Development.json

# Angular build cache
.angular/
